h1 {
    text-align: center;
    text-decoration:red wavy underline;
    font-family: arial;
}

p {
    text-align: justify;
    font-weight: 300;
    line-height: 2.5;
    letter-spacing: 10px;
}

h2 {
    font-weight: bold;
    text-decoration: red dotted underline;
}

h3 {
    text-decoration:red line-through;
    font-size: 50px;
}
