.box {
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: fontAnimation; */
    /* animation-name: colorAnimate; */

    animation-name: widthAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    /* Animation Shorthand */
    /* animation: widthAnimate 3s ease-in 0s infinite normal; */
}

@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}

@keyframes colorAnimate {
    from{
        background-color: yellow;
    }
    to{
        background-color: red;
    }
}

@keyframes widthAnimate {
    from{
        width: 10px;
        background-color: yellow;
    }
    to{
        width: 400px;
        background-color: red;
        border-radius: 18px;
    }
}

/* % in Animation */

.percent {
    height: 100px;
    width: 300px;
    background-color: pink;

    animation-name: ColorAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes ColorAnimate {
    0%{
        background-color: green;
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: blue;
    }
}

