div{
  height: 160px;
  width: 500px;
  background-color: pink;

  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-left-color: red; 
  border-top-right-radius:10px ;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  margin-bottom: 25px;
}

h1{
  /* border-width: 2px;
     border-style: dashed;
     border-color:green ;
  */   
  border: 2px dashed green;
  border-left-color: red;
  border-radius: 50px;
  padding-left: 30px;
 
}

button{
  border:2px black solid;
  background-color: red;
  color: white;
  padding: 25px;
}
