/* Universal Selector */

* {
    font-family: 'Courier New';
}

/* Element Selector */

h1, h3 {
    color: #b92b27;
}

/* Id Selector */

#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

/* Class Selector */

.upvote {
    background-color: blanchedalmond;
}

/* Descendant Selector */

.post a {
    background-color: aquamarine;
    color: red;
}

nav ul li a {
   color: #b92b27 ;
}

/* Adjacent Sibling Combinator */

p + h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: cornflowerblue;
    color: aliceblue;
}

/* Child Combinator */

div > input {
    background-color: pink;
}

/* Attribute Selector */

input[type = "text"] {
    color: red;
}

input[type = "password"] {
    color: greenyellow;
}

/* input[type] {
    background-color: white;
} */

/* Practice Question */
/* Set the color paragraphs inside divs with the id ""myId to green*/

#myId p {
    color: green;
}

/* Pseudo Class - Hover */

button:hover {
    background-color: black;
    color: white;
}

h3:hover {
    text-decoration: none;
}

/* Pseudo Class - Active */

button:active {
    color: red;
    background-color: aliceblue;
}

p:active {
    font-weight: bold;
    color: green;
}

/* Pseudo Class - Checked */

input[type="radio"]:checked+label {
    font-weight: bold;
    color:red;
}

/* Pseudo Class - nth-of-type */

div:nth-of-type(2n) {
    background-color: blanchedalmond;
}

/* Pseudo Element */

h1::first-letter{
    color: black;
}

p::first-line{
    color: chocolate;
}

p::selection{
    background-color: rgb(200, 191, 107);
}
